:root {
  --color-red: red;
  --color-blue: blue;
  --color-green: green;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    36deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(22, 21, 89, 1) 16%,
    rgba(9, 9, 121, 1) 39%,
    rgba(0, 212, 255, 1) 100%
  );
}
.transition-property1 {
  height: 100px;
  width: 100px;
}
.parent1 {
  width: 100%;
  height: 100%;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #0077cc;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.my-bulb {
  height: 300px;
  width: 300px;
  background-color: red;
}
.bulb {
  height: 85%;
  width: 85%;
  border-radius: 50%;
  border: 2px solid black;
  margin-left: 10px;
}
button {
  margin: 5px 30px;
  padding: 5px 20px;
  font-size: 1rem;
  font-weight: 600;
}
